<div class="row span6 center">
<a href="/new-product">Add Product</a>
  <table class="table table-striped">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Sale!</th>
    </tr>
    <% @rs.each do |row| %>
    <tr>
      <td><a href="/products/<%= row['id'] %>"><%= row['name'] %></a></td>
      <td><%= row['price'] %></td>
      <td>
        <% if row['on_sale'] == "t" %>
        <i class="icon-heart"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
