<div class="row span6 center">
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>See Wishlist</th>
  </tr>
  <% @rs.each do |row| %>
    <tr>
      <td><%= row['id'] %></td>
      <td><%= row['name'] %></td>
      <td></td>
    </tr>
  <% end %>
</table>
</div>
