.navigation {
    left: 0;
    right: 0;
    display: block;
    padding: 50px;
    line-height: 1;
    background-color: #fff;
}

body {
    background-color: #34DFE7;
}

h1 {
    color: #000;
} 


a {
    text-decoration: none;
    color: #000;
}

table a:hover {
    color: #F25822;
}

.center {
    float: none;
    margin: auto;
}

a.home_link {
    color: #FF0000;
    font-size: 4em;
    font-family: 'Alfa Slab One', cursive;
}

a.navigation_link {
    margin-right: 2%;
    float: right;
    font-size: 4em;
    font-family: 'Alfa Slab One', cursive;
    color: #FFE000;
}

.main_content {
    margin-top: 5%;
}

table {
    background-color: white;
}

a:hover {
    text-decoration: none;
}

a.navigation_link:hover {
    color: #F25822;
}

a.home_link:hover {
    color: #000;
}

th.search {
    padding: 20px;
    font-size: 1.5em;
}
 
input[type="text"] {
    margin-bottom: 0 !important;
}

input.price_input {
    width: 50px;
}

td.table_icons {
    text-align: center;
}

.product_image {
    width: 400px;
    display: block;
    position: relative;
    float: right;
}

.right {
    display: block;
    position: relative;
    float: right;
}

.btn-danger {
    display: block;
    margin: auto;
}

.btn-primary {
    margin-top: 10px;
}

.delete-window {
    color: white;
    padding: 70px;
    background-color: #242526;
    border-radius: 10px;
}